.TimerDashboard {
  height: 28vh;
  background-color: lightcoral;
  color: snow;

  text-align: center;
  padding-top: 15px;

  border: 2px solid;
  border-radius: 20px 20px 0px 0px;
  border-color: snow;
}

.Time {
  font-size: 80px;
  padding: 10px;
}

.TimerTask {
  font-size: 30px;
}

.TimerButtons {
  padding: 15px;
}

.Button {
  padding: 5px;
}