.TodoDashboard {
  flex: 10;

  color: snow;
  background-color: lightcoral;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;

  border: 2px solid;
  border-radius: 0px 0px 20px 20px;
  border-color: snow;

  font-size: 18px;

  text-align: center;
}